<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<title>出家したい人のための情報サイト「成仏センス」</title>
</head>
<body id="page_temple">
	<div id="home" data-role="page">
		<div data-role="header" data-add-back-btn="true">
            出家したい人のための情報サイト
            <h1>成仏センス</h1>
            <div id="page_title">
                <a href="#" data-role="button" data-icon="arrow-l">戻らん</a>
            </div>
		</div>
        
	<div role="main" class="ui-content">
        <div id="sect_detail">
            <p>宗派説明</p>
        </div>

        <div id="temple_items">
            <p>寺名</p>
            <ul class="media-list">
                <li>
                    <a class="media-left" href="#">
                        <img class="media-object" src="280px-Koshoji05s1800.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">商品1</h4>
                        <p>商品1の説明です</p>
                    </div>
                </li>
            </ul>
            
            <div class="container">
              <table class="table">
           
              <tbody>
                  <tr>
                      <th><h4>待遇</h4></th>
                      <td>
                          <h4>
                              <span class="label label-default">食費0円</span>
                              <span class="label label-default">生活費一部支給</span>
                              <span class="label label-default">衣装貸出あり</span>
                              <span class="label label-default">駅から3km</span>
                              <span class="label label-default">宿泊費0円</span>
                          </h4>
                              
                      </td>
                  </tr>
                <tr>
                  <th><h4>時間</h4></th>
                    <td>
                        <h4>
                            <span class="label label-default">生活費一部支給</span>
                            <span class="label label-default">食費0円</span>
                        </h4>
                    </td>
                </tr>
              </tbody>
    </table>
    </div>
            
        </div>
        
	</div>
    
	<div data-role="footer">
		<h4>出家したい人のための情報サイト「成仏センス」</h4>
	</div>
</div>

<div id="menu" data-role="page">
		<div data-role="header">
			<h1>メニュー</h1>
		</div>
	<div data-role="content">
		<p>メニューです</p>
		<p> <p><a href="#home" data-role="button" data-theme="b" data-transition="flip">ホームへ</a></p>
	</div>

	<div data-role="footer" class="ui-bar">
		<h4>Copyright 2015</h4>
	</div>
</div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

</body>
	
</html>